@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
}

.title {
  font-family: "Parkinsans", sans-serif;
  line-height: 0.8;
}

.writing-mode-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
}

@media (min-width: 1280px) {
  .writing-mode-vertical {
    writing-mode: horizontal-tb;
    text-orientation: mixed;
    transform: rotate(0deg);
  }
}

.infobulle::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #252639;
}

@media (max-width: 1280px) {
  .filtrage::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -12px;
  transform: translateY(-50%);
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid rgb(37, 38, 57, 0.40);
}
}

@media (min-width: 1280px) {
  .filtrage::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -12px;
  transform: translateY(-50%);
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid rgb(37, 38, 57, 0.40);
}
}

/* Personnalisation de la barre de défilement */
body::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #252639;
}

::-webkit-scrollbar-thumb {
  background: #28CB62;
}

::-webkit-scrollbar-thumb:hover {
  background: #1c9747;
}

.history-container::-webkit-scrollbar {
  display: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.glasses {
  transform: rotateX(-30deg) rotateY(-20deg) rotateZ(0deg);
}

@keyframes bounce-perso {
  0%, 100% {
      transform: translateY(-10%);
      animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  50% {
      transform: none;
      animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

.animate-bounce-perso {
  animation: bounce-perso 1.5s infinite;
}